/*body {*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*    sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800;1,900&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace ;
}.MuiPaper-rounded {
  border-radius: 15px;
}

h1, h2 , h3, h4, h5, h6, p, li, ul {
  padding: 0;
  margin: 0;
}

.MuiPaper-rounded {
  border-radius: 15px !important;
  padding-top: 15px !important;
}

.RaSidebar-drawerPaper-37 {
  width: 240px !important;
}

.MuiTabs-flexContainer{
  justify-content: space-around;
  align-items: center;
}

.MuiCardContent-root RaCardContentInner-root-102{
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
}
